.library-container {
    font-family: Arial, sans-serif;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.library-title {
    text-align: left;
    color: white;
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 600;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.library-book-item {
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.library-book-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.library-book-cover {
    border-radius: 8px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 200px;
    height: auto;
}

.library-book-title {
    font-size: 18px;
    color: white;
    margin: 10px 0;
    font-weight: 500;
}

.library-book-author {
    font-size: 14px;
    color: #777;
}

.reading-progress {
    width: 100%;
    height: 6px;
    background-color: #eee;
    border-radius: 3px;
    margin-top: 10px;
    position: relative;
}

.reading-progress-bar {
    content: "";
    display: block;
    height: 100%;
    border-radius: 3px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .library-container {
        padding: 20px;
    }
    
    .library-title {
        font-size: 28px;
    }

    .book-list {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Adjust grid for smaller screens */
    }

    .book-cover {
        max-width: 180px; /* Adjust image size for smaller screens */
    }

    .book-title {
        font-size: 16px;
    }

    .book-author {
        font-size: 12px;
    }
}
